:root {
    --black-2: rgba(0, 0, 0, 0.8);
    --black: rgba(0, 0, 0, 1);
    --gossamer: rgba(0, 149, 135, 1);
    --cod-gray2: rgba(11, 10, 10, 1);
    --cod-gray-3: rgba(12, 10, 10, 0.8);
    --cod-gray-22: rgba(12, 10, 10, 1);
    --bunting: rgba(21, 16, 77, 1);
    --jacarta: rgba(51, 47, 99, 1);
    --ship-gray: rgba(58, 57, 73, 1);
    --ship-gray-2: rgba(58, 58, 73, 1);
    --manatee: rgba(136, 133, 172, 1);
    --celeste: rgba(208, 210, 208, 1);
    --quill-gray: rgba(209, 211, 209, 1);
    --alto: rgba(217, 217, 217, 1);
    --font-size-xxs: 14px;
    --font-size-xs: 15px;
    --font-size-x1: 24px;
    --font-size-xxx1: 35px;
    --font-size-s2: 16px;
    --font-size-m2: 18px;
    --font-size-12: 20px;
    --font-size-xx12: 48px;
    --font-family-inter: "Inter";
    --font-family-open_sans: "Open Sans";
  }
  
  .inter-normal-manatee-18px {
    color: var(--manatee);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-m2);
    font-weight: 400;
    font-style: normal;
  }
  
  .inter-normal-bunting-14px {
    color: var(--bunting);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-xxs);
    font-weight: 400;
    font-style: normal;
  }
  
  .inter-semi-bold-cod-gray-13-3px {
    color: var(--cod-gray-22);
    font-family: var(--font-family-inter);
    font-size: 13.333333015441895px;
    font-weight: 600;
    font-style: normal;
  }
  
  .inter-semi-bold-black-20px {
    color: var(--black);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-12);
    font-weight: 600;
    font-style: normal;
  }
  
  .inter-semi-bold-cod-gray-15px-2 {
    color: var(--cod-gray-22);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-xs);
    font-weight: 600;
    font-style: normal;
  }
  
  .opensans-semi-bold-black-20px {
    color: var(--black);
    font-family: var(--font-family-open_sans);
    font-size: var(--font-size-12);
    font-weight: 600;
    font-style: normal;
  }
  
  .inter-normal-black-12px {
    color: var(--black);
    font-family: var(--font-family-inter);
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
  }
  
  .inter-semi-bold-black-12px {
    color: var(--black);
    font-family: var(--font-family-inter);
    font-size: 12px;
    font-weight: 600;
    font-style: normal;
  }
  
  .opensans-bold-cod-gray-55px {
    color: var(--cod-gray2);
    font-family: var(--font-family-open_sans);
    font-size: 55px;
    font-weight: 700;
    font-style: normal;
  }
  
  .inter-semi-bold-cod-gray-20-4px {
    color: var(--cod-gray-22);
    font-family: var(--font-family-inter);
    font-size: 20.399999618530273px;
    font-weight: 600;
    font-style: normal;
  }
  
  .inter-semi-bold-black-26px {
    color: var(--black);
    font-family: var(--font-family-inter);
    font-size: 26px;
    font-weight: 600;
    font-style: normal;
  }
  
  .inter-normal-cod-gray-22px {
    color: var(--cod-gray-22);
    font-family: var(--font-family-inter);
    font-size: 22px;
    font-weight: 400;
    font-style: normal;
  }
  
  .inter-medium-cod-gray-20px {
    color: var(--cod-gray-22);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-12);
    font-weight: 500;
    font-style: normal;
  }
  
  .inter-semi-bold-cod-gray-35px {
    color: var(--cod-gray-22);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-xxx1);
    font-weight: 600;
    font-style: normal;
  }
  
  .inter-medium-black-14px {
    color: var(--black);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-xxs);
    font-weight: 500;
    font-style: normal;
  }
  
  .inter-semi-bold-black-24px {
    color: var(--black);
    font-family: var(--font-family-inter);
    font-size: 24px;
    font-weight: 600;
    font-style: normal;
  }
  
  .inter-normal-black-20px {
    color: var(--black-2);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-12);
    font-weight: 400;
    font-style: normal;
  }
  
  .opensans-semi-bold-cod-gray-40px {
    color: var(--cod-gray2);
    font-family: var(--font-family-open_sans);
    font-size: 40px;
    font-weight: 600;
    font-style: normal;
  }
  
  .inter-medium-celeste-15px {
    color: var(--celeste);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-xs);
    font-weight: 500;
    font-style: normal;
  }
  
  .inter-medium-ship-gray-18px-2 {
    color: var(--ship-gray-2);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-m2);
    font-weight: 500;
    font-style: normal;
  }
  
  .inter-medium-ship-gray-15px {
    color: var(--ship-gray);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-xs);
    font-weight: 500;
    font-style: normal;
  }
  
  .inter-bold-cod-gray-48px {
    color: var(--cod-gray2);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-xx12);
    font-weight: 700;
    font-style: normal;
  }
  
  .inter-medium-black-18px {
    color: var(--black);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-m2);
    font-weight: 500;
    font-style: normal;
  }
  
  .inter-normal-jacarta-12px {
    color: var(--jacarta);
    font-family: var(--font-family-inter);
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
  }
  
  .inter-normal-ship-gray-16px {
    color: var(--ship-gray-2);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-s2);
    font-weight: 400;
    font-style: normal;
  }
  
  .inter-semi-bold-cod-gray-15px {
    color: var(--cod-gray2);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-xs);
    font-weight: 600;
    font-style: normal;
  }
  
  .inter-medium-black-16px {
    color: var(--black);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-s2);
    font-weight: 500;
    font-style: normal;
  }
  
  .inter-normal-cod-gray-20px {
    color: var(--cod-gray-3);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-12);
    font-weight: 400;
    font-style: normal;
  }
  
  .inter-normal-cod-gray-20px {
    color: var(--cod-gray-22);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-12);
    font-weight: 400;
    font-style: normal;
  }
  
  .inter-normal-black-18px {
    color: var(--black);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-m2);
    font-weight: 400;
    font-style: normal;
  }
  
  .inter-medium-cod-gray-22px {
    color: var(--cod-gray-22);
    font-family: var(--font-family-inter);
    font-size: 22px;
    font-weight: 500;
    font-style: normal;
  }
  
  .inter-medium-cod-gray-13px {
    color: var(--cod-gray-22);
    font-family: var(--font-family-inter);
    font-size: 13px;
    font-weight: 500;
    font-style: normal;
  }
  
  .inter-medium-ship-gray-18px {
    color: var(--ship-gray);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-m2);
    font-weight: 500;
    font-style: normal;
  }
  
  .inter-semi-bold-cod-gray-20px {
    color: var(--cod-gray-22);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-12);
    font-weight: 600;
    font-style: normal;
  }
  
  .inter-semi-bold-cod-gray-11-3px {
    color: var(--cod-gray-22);
    font-family: var(--font-family-inter);
    font-size: 11.320755004882812px;
    font-weight: 600;
    font-style: normal;
  }
  
  .inter-semi-bold-bunting-16px {
    color: var(--bunting);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-s2);
    font-weight: 600;
    font-style: normal;
  }
  